@mixin color-scheme($text, $bg) {
  color: $text;
  background-color: $bg;
}

.dark-theme {
  @include color-scheme($dark, $white, $purple);
}

.light-theme {
  @include color-scheme($white, $purple, $dark);
}
