@use "../../styles/abstracts/md" as *;
@use "../../styles/abstracts/colors" as *;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  @include Desktop {
    width: 100vw;
  }

  .title {
    color: pink;
  }
}

.form {
  display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    width: 80vw;
    border: 1px solid pink;
    padding: 6em 0;
    border-radius: 1rem;

  @include Desktop {
    width: 50vw;
  }

  input {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    align-items: center;
    width: 50vw;
    display: flex;
    justify-content: center;
    @include Desktop {
      width: 25vw;
    }
  }

  button {
    width: 50vw;
    @include Desktop {
      width: 23vw;
    }
  }
}