@use "../../styles/abstracts/md" as *;

.container {
  padding: 0 1rem 2rem;

  @include Desktop {
    padding: 0 2rem 2rem;
  }
}

.title {
  margin-bottom: 1rem;
}

.info {
  margin-top: 1rem;

  p>span {
    font-weight: bold;
  }
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  button {
    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}
