@use "../../styles/abstracts/md" as *;
@use "../../styles/abstracts/colors" as *;

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-top: 2rem;

  @include Desktop {
    width: 100vw;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 80%;
  border: 1px solid $purple;
  padding: 3em 0;
  border-radius: 1rem;
  margin-top: 2rem;

  @include Desktop {
    width: 50vw;
  }

  input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    width: 70%;
    margin-bottom: 0.5rem;

    @include Desktop {
      width: 25vw;
    }
  }

  a {
    color: $purple;
    text-decoration: underline;
    font-size: 1rem;
    margin-top: 1rem;
  }
}
