@use "../../styles/abstracts/md" as *;

.nav {
  padding: 1rem;
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  @include Desktop {
    padding: 1rem 3rem;
  }

  ul {
    padding: 0;
    display: flex;
    justify-content: start;
    column-gap: 0.5rem;

    .list {
      list-style: none;
      display: inline;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        font-style: italic;
      }
    }
  }
}
