$dark: #191919;
$white: #f8f9fa;
$purple: #8d148f;

$scheme-dark: $dark, $white, $purple;
$scheme-light: $white, $purple, $dark;

@mixin color-scheme($background, $title, $button) {
  background-color: $background;

  h1,
  h2,
  h3,
  p,
  li,
  a,
  label
  {
    color: $title;
  }

  ;
  border-color: $button;

  button {
    background-color: $button;
    color: #fff;
  }
}
