@use 'sass:map';

$mobile: 328px;
$tablet: 768px;
$desktop: 1024px;

@mixin Mobile {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content
  }
};

@mixin Tablet {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content
  }
};

@mixin Desktop {
  @media (min-width: $desktop) {
    @content
  }
};
