@use 'sass:map';

@mixin form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  margin-top: 2rem;
  @include Desktop {
    width: 100vw;
  }
}

@mixin form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 80%;
  border: 1px solid $purple;
  padding: 3em 0;
  border-radius: 1rem;
  margin-top: 2rem;

  @include Desktop {
    width: 50vw;
  }
}
