@use "../../styles/abstracts/md" as *;

.content {
  padding: 0 2rem 0 2rem;

  @include Desktop {
    padding: 0 4rem 0 4rem;
  }
}

.title {
  font-size: 1.5rem;
  color: #fff;

  @include Desktop {
    font-size: 2rem;
  }
}

.card {
  padding: 1rem 0 1rem 1rem;

  @include Desktop {
    padding: 2rem 0 2rem 2rem;
  }
}

.card__content {
  width: 90% !important;

  @include Desktop {
    width: 80% !important;
  }
}

.card__content:hover {
  border-radius: 0 0 10px 10px;
  border: 2px solid #8d148f;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0.5rem;

  @include Desktop {
    font-size: 1.5rem;
  }
}
