@use "../../styles/abstracts/md" as *;
@use "../../styles/abstracts/colors" as *;

@mixin form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  margin-top: 2rem;


  @include Desktop {
    width: 100vw;
  }
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  margin-top: 2rem;
  padding: 2rem 0;

  @include Desktop {
    width: 100vw;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 80%;
  border: 1px solid $purple;
  padding: 3em 0;
  border-radius: 1rem;
  margin-top: 2rem;

  @include Desktop {
    width: 50vw;
  }

  input {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    align-items: center;
    width: 50vw;
    display: flex;
    justify-content: center;

    @include Desktop {
      width: 25vw;
    }
  }

  button {
    width: 50vw;

    @include Desktop {
      width: 23vw;
    }
  }

  a {
    color: $purple;
    text-decoration: underline;
    font-size: 1rem;
    margin-top: 1rem;
  }
}
