@use "../styles/abstracts/md" as *;
@use "../styles/abstracts/colors" as *;

.header {
  padding: 1rem;
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  align-items: stretch;
  justify-content: left;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;

  @include Desktop {
    padding: 2rem;
  }
}

.main {
  padding: 0 3rem;

  h1 {
    margin-bottom: 2rem;
  }
}

.redirect {
  margin-right: 2rem;
  border: 3px solid $purple;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
}
